body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

.container{
    max-width: 600px;
    margin:20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.container h1{
    padding: 5px;
    border: 1px solid;
    background-color:peachpuff;
    border-radius: 5px;
}

header{
    text-align: center;
    margin-bottom: 20px;
}

.summary p{
    margin: 5px 0;
}

.entry-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.entry-form input,
.entry-form select,
.entry-form button{
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.entry-form button{
    background-color: rgb(168, 118, 171);
    border: none;
    cursor: pointer;
}

.entry-form button:hover{
    background-color: rgb(230, 80, 25);
}

.filters{
    text-align: center;
    margin-bottom: 20px; 
}

.filters label{
    margin: 0 10px;
}

.entries ul{
    list-style-type: none;
    padding: 0;
}

.entries li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(162, 246, 163);
    margin-bottom: 10px;
    border-radius: 5px;
}

.entries button{
    background-color: rgb(208, 67, 212);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 50px;
    cursor: pointer;
}

.entries button:hover{
    background-color: blueviolet;
}